.pagination {
    position: relative;
    width: 80%;
    max-width: 710px;
    margin: 0 auto 4rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #9EABB3;
    text-align: center;
    .page-number {
        display: inline-block;
        padding: 2px 0;
        min-width: 100px;
        line-height: 2rem;
    }
    .older-post {
        color: #9EABB3;
        transition: all .3s ease;
        right: 0;
    }
    .new-post {
        color: #9EABB3;
        transition: all .3s ease;
        left: 0; 
    }
    .older-post, .new-post {
        position: absolute;
        display: inline-block;
        padding: 6px 15px;
        border: #bfc8cd 1px solid;
        border-radius: 4px;
        &:hover {
            color: #889093;
            border-color: #98a0a4;
        }
    }
}
.footer-info {
    margin-top: 8rem;
    font-size: .75em;
    color: #BBC7CC;
    display: flex;
    justify-content: space-between;
    padding: 1em 15px;
}
